/*  Typo
----------------------------------------------- */

/*
VERT LOGO : #75BA29
ROUGE LOGO #BE1623:
*/

h1 { color: #BE1623; font-size: 48px; font-family: 'Verdana', sans-serif; padding-bottom: 10px; }
h2 { color: #BE1623; font-size: 38px; font-family: 'Verdana', sans-serif;}

p {	font: 12px/140% Verdana, Geneva, Arial, Helvetica, sans-serif;}

html, body {
    margin: 0;
    font: 12px/140% Verdana, Geneva, Arial, Helvetica, sans-serif;
    height:100%;
    width:100%;
    padding:0;
}

/* MISC */

.hr {
    background: url("../img/border.gif") repeat-x top left;
    width: 100%;
    height: 2px;
}

h2 {
    font-variant: small-caps;
}


/*   Sections
-------------------------*/
section {
    background-image: url("../img/pattern_2.png");
    background-repeat: repeat;
}

section.primary {
	padding-top : 100px;
    /*padding-top: 10px;*/
}

section.screensized {
    /*background: #CFF;*/
    min-height:100%;
    width:100%;
    box-sizing:border-box;
}

/*  Navigation
----------------------------------------------- */

.btn-contact
{
    text-transform: uppercase;
    color: black;
    background-color: white;
    border: none;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

.btn-contact:hover{
    color: #BE1623;
}

.navigation
{
    z-index:1000;
    position:fixed;
    top: 0;
    left: 0;
    width: 100%;
    line-height:50px;
    background-color:white;
    border: 2px;
    border-bottom-style: solid;
}

.navigation ul{
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    text-transform: uppercase;
    list-style-type:none;
    text-align:center; 
}

.navigation li {
    display: inline;

}

.navigation li a {
    display: inline-block;
    color: black;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
	outline: 0;
}

.navigation li a:hover, .navigation li a.highlight {
    color: #BE1623;
}

.nav_anchor {
	top : -81px;
}
/* menu
************************/
.image-container {
	height: 500px;
	width:70%;
	margin-left:auto;
	margin-right:auto;

}
.image-container img{
	max-height:300px;
}

.im_ingredient_small {
	height: 100px;
	width: 100px;
}

.ingr_description {
    display: none;
}

.ingr_description b {
    color: #75BA29;
}

.ingredient-bottom-right {
    border-bottom: 1px dashed black;
    border-right: 1px dashed black;
}
.ingredient-bottom {
    border-bottom: 1px dashed black;
}
.ingredient-right {
    border-right: 1px dashed black;
}

.ingredient-grid {
    vertical-align: middle;
    height: 104px;
    width: 104px;
    text-align: center;
    cursor: pointer;
}

.im_ingredient_big {
	/*height: 100%;*/
	width: 100%;
	padding: 0;
}

.invisible {
	/*display: none;*/
}

/* nourriture-saine
**************************/
.grid {
    padding: 20px 20px 100px 20px;
    max-width: 1300px;
    margin: 0 auto;
    list-style: none;
    text-align: center;
}

.grid li {
    display: inline-block;
    width: 550px;
    margin: 0;
    padding: 0;
    text-align: left;
    position: relative;
}

.grid figure {
    margin: 0;
    position: relative;
}

.grid figure img {
    max-width: 100%;
    display: block;
    position: relative;
}

.grid figcaption {
    position: absolute;
    top: 0;
    left: 0;
    padding: 20px;
    background: #be1522;
    color: #fff;
}

.grid figcaption h3 {
    margin: 0;
    padding: 0;
    color: #fff;
}

.grid figcaption a {
    text-align: center;
    padding: 5px 10px;
    border-radius: 2px;
    display: inline-block;
    background: #fff;
    color: #be1522;
}


/* Caption Style */
.cs-style-3 figure {
    overflow: hidden;
}

.cs-style-3 figure img {
    -webkit-transition: -webkit-transform 0.4s;
    -moz-transition: -moz-transform 0.4s;
    transition: transform 0.4s;
}

.no-touch .cs-style-3 figure:hover img,
.cs-style-3 figure.cs-hover img {
    -webkit-transform: translateY(-50px);
    -moz-transform: translateY(-50px);
    -ms-transform: translateY(-50px);
    transform: translateY(-50px);
}

.cs-style-3 figcaption {
    height: 100px;
    width: 100%;
    top: auto;
    bottom: 0;
    opacity: 0;
    -webkit-transform: translateY(100%);
    -moz-transform: translateY(100%);
    -ms-transform: translateY(100%);
    transform: translateY(100%);
    -webkit-transition: -webkit-transform 0.4s, opacity 0.1s 0.3s;
    -moz-transition: -moz-transform 0.4s, opacity 0.1s 0.3s;
    transition: transform 0.4s, opacity 0.1s 0.3s;
}

.no-touch .cs-style-3 figure:hover figcaption,
.cs-style-3 figure.cs-hover figcaption {
    opacity: 1;
    -webkit-transform: translateY(0px);
    -moz-transform: translateY(0px);
    -ms-transform: translateY(0px);
    transform: translateY(0px);
    -webkit-transition: -webkit-transform 0.4s, opacity 0.1s;
    -moz-transition: -moz-transform 0.4s, opacity 0.1s;
    transition: transform 0.4s, opacity 0.1s;
}

.cs-style-3 figcaption a {
    position: absolute;
    bottom: 20px;
    right: 20px;
}

@media screen and (max-width: 31.5em) {
    .grid {
        padding: 10px 10px 100px 10px;
    }
    .grid li {
        width: 100%;
        min-width: 300px;
    }
}

.carousel-inner {
  width:100%;
  max-height: 400px !important;
}

.carousel-inner img {
    width: 100%;
}

/* a propos
**************************/
#s_apropos .panel {
    max-width: 70%;
    margin: auto;
    margin-bottom: 30px;
}
#s_apropos .panel-heading {
    color: #75BA29;
}

/* infos
**************************/
#s_infos {
    padding-top: 100px;
}
#s_infos .google_map {
    padding-left: 20px;
    padding-right: 20px;
}
#s_infos .horaire_days {
    margin-bottom: 64px;
}
#s_infos .horaire_days b {
    color: #75BA29;
}


/* bottom
**************************/
#s_bottom .social_media img {
    width: 30px;
}

/* JIMDO Layout
----------------------------------------------- */
/*
#container
{
    margin-left: auto;
    margin-right: auto;
    width:80%;
}

#header
{
    width: 100%;
}

#header img
{
    display: block;
    margin-left: auto;
    margin-right: auto;
}

#header h1,
#header a
{
    padding:0;
    font-family:"Helvetica","Lucida Sans Unicode",Tahoma,Verdana,Arial,Helvetica,sans-serif;
    font-size:30px;
    font-weight:normal;
    text-decoration:none;
    line-height:1.3em;
    text-align:right;
}

#header a:hover { text-decoration:none;  }

#sidebar
{
    display: block;
    margin-left: auto;
    margin-right: auto;
    padding-top:50px;
}

#sidebar img
{
    width:680px;
    height: 480px;
}

#content
{
    padding-top: 50px;

}

#footer
{
    clear:both;
    margin-top:10px;
    background:url(footer-bg.gif) repeat-x top;
    height:65px;
}

#footer .gutter 
{
    height:30px;
    padding:35px 15px 0 90px;
}
